html,body{
  margin:0;
  padding:0;
}
body{
  height:100dvh;
  display:flex;
  align-items: center;
  justify-content: center;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
li{
  font-size: 2rem;
  border:0.2rem solid salmon;
  border-radius: 0.5rem;
  margin:1rem;
  padding:1rem;
  user-select: none; 
  transition:all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

li:hover{
  color:mistyrose;
  background: darksalmon;
  border-color:lightsalmon;
}